//Colores
$dark-gray: #333333;
$grey: #666;
$blue: #1c68bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

//Tamaños
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktopBp: 45rem;

//Font size
$font-size-l: 1.8rem;
$font-size-s: 1.4rem;